<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'sobre'}); %>
        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>
                    Olá, eu sou Sidney Cardoso, tenho 17 anos e atualmente estou
                    estudando desenvolvimento fullstack
                </p>
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>
</html>
